html {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  border: 2px solid #000;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  /*background-color: #000000;*/
}

#camera-container {
  position: relative;
  
  /*추가 항목*/
  width: 100%; height: 66vh;
}

video {/*추가 항목*/
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#autoBtn {
  position: absolute;
  /*bottom: 20px;*/
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: 3px solid red; /*none*/
  /*cursor: pointer;*/
  font-size: 16px;
}

#bottom-container {
  position: relative;
  background-color: blue;
}

#captureBtn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: 3px solid red; /*none*/
  /*cursor: pointer;*/
  font-size: 16px;
}
